* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bebebec2;
    text-align: center;
    padding: 20px;
}

div.container {
    width: 50%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

h1, h2 {
    margin: 10px;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

button {
    background-color: #28a745;
    color: #ffffff;
    cursor: pointer;
}

button:hover{
    background-color: #218838;
}

div#person-list {
    display: flex;
    flex-direction: column;
}